/**
 * Styles
 * Mobile first 1 column layout with 2 col layout for larger screens.
 */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@300;400&display=swap");
/* Shrop brand colors. */
html,
body {
  margin: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#292f36ff), color-stop(50%, #292f36ff), color-stop(50%, #f7fff7ff), to(#f7fff7ff));
  background-image: linear-gradient(90deg, #292f36ff 0%, #292f36ff 50%, #f7fff7ff 50%, #f7fff7ff 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bree Serif", serif;
}

h1 {
  font-size: 2em;
}

a:active {
  color: #292f36ff;
}

a:link {
  color: #292f36ff;
}

a:visited {
  color: #292f36ff;
}

a:hover {
  color: #ff6b6bff;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 600px) {
  .container {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
}

.sidebar-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #292f36ff;
  color: #f7fff7ff;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff6b6bff), color-stop(50%, #ff6b6bff), color-stop(50%, #ffe66dff), to(#ffe66dff));
  background-image: linear-gradient(90deg, #ff6b6bff 0%, #ff6b6bff 50%, #ffe66dff 50%, #ffe66dff 100%);
  background-size: 8px 100%;
  background-repeat: no-repeat;
  background-position: center center;
  /* Ensure iPhones with notches ahdere to safe areas. */
  /* For 2 column layout, ensure left column doesn't scroll. */
}

@supports (-webkit-touch-callout: none) {
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .sidebar-wrapper {
      padding: env(safe-area-inset-left) env(safe-area-inset-right);
      height: 100%;
      background-size: 8px 120%;
    }
  }
}

@media only screen and (min-width: 600px) {
  .sidebar-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
  }
}

.sidebar {
  width: 275px;
  margin: 0 auto;
  padding-top: 20px;
}

.sidebar h1 {
  text-align: center;
}

.content-wrapper {
  padding: 20px;
  background-color: #f7fff7ff;
  color: #292f36ff;
  border-top: 8px solid #4ecdc4ff;
}

@media only screen and (min-width: 600px) {
  .content-wrapper {
    border-top: none;
    border-left: 8px solid #4ecdc4ff;
  }
}

.content {
  overflow-y: scroll;
  margin: 0 auto;
}

.profile {
  background-color: #292f36ff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-pic {
  width: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 4px solid #ffe66dff;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slider-vertically;
          animation-name: slider-vertically;
}

.social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media-icons svg {
  width: 40px;
  height: 40px;
  fill: #4ecdc4ff;
  -webkit-transition: 1s;
  transition: 1s;
}

.social-media-icons svg:hover {
  fill: #ff6b6bff;
  -webkit-transform: rotate(-11.25deg);
          transform: rotate(-11.25deg);
  -webkit-filter: drop-shadow(0 0 0.5rem #ff6b6bff);
          filter: drop-shadow(0 0 0.5rem #ff6b6bff);
}

.podcasts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.podcasts img {
  border: 4px solid #4ecdc4ff;
  border-radius: 17.466%;
}

.podcasts img:hover {
  border: 4px solid #ff6b6bff;
  -webkit-filter: drop-shadow(0 0 0.5rem #ff6b6bff);
          filter: drop-shadow(0 0 0.5rem #ff6b6bff);
}

.podcast {
  max-width: 275px;
}

.projects img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects img:hover {
  -webkit-filter: drop-shadow(0 0 0.5rem #ff6b6bff);
          filter: drop-shadow(0 0 0.5rem #ff6b6bff);
}

@media only screen and (min-width: 800px) {
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

/* Profile copy animation. */
@-webkit-keyframes slider-vertically {
  from {
    margin-bottom: 100%;
  }
  to {
    margin-bottom: 0%;
  }
}
@keyframes slider-vertically {
  from {
    margin-bottom: 100%;
  }
  to {
    margin-bottom: 0%;
  }
}
/*# sourceMappingURL=index.css.map */